<ion-content text-center padding>
    <div>正解です！</div>
    <div> おめでとうございます！</div>
    <lottie-animation-view
            [options]="lottieConfig"
            (animCreated)="handleAnimation($event)">
    </lottie-animation-view>
    <ion-row>
        <ion-col size="12">
            <ion-button style="width: 100%">次の問題へ</ion-button>
        </ion-col>
        <ion-col size="12">
            <ion-button style="width: 100%" fill="outline">やめる</ion-button>
        </ion-col>
    </ion-row>
</ion-content>
