<ion-header>
    <ion-toolbar padding-start>
        tangrammer
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col offsetSm="2" sizeSm="4" size="12" text-center>
                <app-canvas #actualCanvas (moved)="judge()">
                </app-canvas>
            </ion-col>
            <ion-col sizeSm="4" size="12" text-center>
                <app-canvas #expectedCanvas
                            [initialShapeConfigJSON]="getAnswerShapeConfig()">
                </app-canvas>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offsetSm="2" sizeSm="8" size="12" text-center>
                <h2>debug</h2>
                <ion-button (click)="judge()">judge</ion-button>
                {{result.isOK()}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
