<ion-header>
    <ion-toolbar padding-start>
        tangrammer
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col offsetMd="4" sizeMd="4" size="12" text-center>
                <app-canvas></app-canvas>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col offsetMd="4" sizeMd="4" size="12" text-center>
                <app-canvas></app-canvas>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
