<ion-header>
    <ion-toolbar padding-start>
        ヒマグラム
    </ion-toolbar>
</ion-header>

<ion-content fullscreen>
    <ion-grid>
        <ion-row>
            <ion-col offsetSm="2" sizeSm="8" size="12" text-center>
                <p>お題: ねこ
                    <ion-chip *ngIf="cleared" color="primary">
                        <ion-icon name="checkmark-circle"></ion-icon>
                        <ion-label>CLEAR!</ion-label>
                    </ion-chip>
                </p>
            </ion-col>
            <ion-col offsetSm="2" sizeSm="4" size="12" text-center>
                <app-canvas #expectedCanvas
                            [initialShapeConfigJSON]="getAnswerShapeConfig()">
                </app-canvas>
            </ion-col>
            <ion-col sizeSm="4" size="12" text-center>
                <app-canvas #actualCanvas (moved)="judge()">
                </app-canvas>
            </ion-col>
        </ion-row>
        <ion-row *ngIf="!isProduction">
            <ion-col offsetSm="2" sizeSm="8" size="12" text-center>
                <h2>debug</h2>
                <ion-button (click)="judge()">judge</ion-button>
                {{result.isOK()}}
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>
